* {
  margin: 0;
  padding: 0;
}

body {
display: block;
font-family: "Cormorant Garamond";
font-weight:normal;
color:black ;
}

a {
text-decoration: none;
}
/* describes navbar */
nav {
display: ;
position:  ;
background: #80feaa6c ;
width: 100% ;
font-family:"Libre Baskerville",serif;
}

#navbar .nav-list {
display: flex;
justify-content: flex-start;
list-style-type: none;
margin: 0 4rem;
}

#navbar .nav-list li {
display: flex;
}

#navbar .nav-list a {
display: block;
font-size: 2rem;
padding: 2rem;
color: #000000;
text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.36);
font-weight:bold;
}
/* navbar animation */
#navbar .nav-list a:hover {
color: #ffffff;
text-shadow: ;
/* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; !animation removed! */ 
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 10000px;}
@keyframes shake {
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}

20%, 80% {
  transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}

40%, 60% {
  transform: translate3d(4px, 0, 0);
}

}
/* end navbar */
/* homepage */
.homepage {
  margin-right: 75%;
  margin-top:100px;
  padding: 15px;
  border:2px transparent;
  width: fit-content;
}
.homepage h2 {
  color:black;
}
/* bulleted list */
.bulleted-list {
  list-style-type: disc;
  margin-left: 20px;
  font-family: "Roboto Slab";
}
#welcome-section {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100vh;
background: #5d7e20;;
}

h1 {
text-align: center;
margin: 0;
font-size: 7.2rem;
line-height: rem;
color: white ;
font-weight: 800;
text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.36);
}

h2 {
text-align: center;
font-style: bold;
margin-top: 100px;
margin: 0;
font-size: 1.8rem;
line-height: 2.5em;
font-weight: 10000000;
color: #5d7e20;
}

#projects {
display: flex;
flex-direction: column;
justify-content: center;
background: #FFF;
height: 100vh;
padding-top: 2rem;
}

#projects h2 {
text-align: center;
font-size: 3rem;
font-weight: 700;
color: #000000;
padding: 1.5rem;
}

.project-tile {
display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
margin: 1rem;
}

.project-tile a {
display: inline-block;
margin:1rem;
padding:20px;
border: 6px solid #353239;
border-radius: ;
background-color: #353239; 
}

.project-tile p {
text-align: center;
font-size: 1.5rem;
color: #fff;
text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.36);
}

img {
width: 400px;
border-radius: ;
}

footer {
display: flex;
flex-direction: column;
justify-content: ;
margin: 2rem 0 0 0;
padding-top: 20px;
text-align: ;
height: 100vh;
background: #ffffff;
}

footer h2 {
color: #000000;
font-weight: 800;
text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.36);
font-size: 3rem;
line-height: 1.2em;
}

p {
font-size: 1.8rem;
line-height: 1.5em;
font-style: italic;
font-weight: normal;
color: #000000;
margin: 20px 0;
}

#email {
display: inline-block;
margin: ;
padding: 20px;
width: 300px;
font-size: 1.2rem;
line-height: 1.5em;
font-style: normal;
border: 1px dotted #000000;
}

#email a {
padding: 0 10px;
color: #000000;
}

#email a:hover {
color: #000000;
text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.36);
}

@media (max-width: 28.75em) {
body {
  font-size:50%;
}
nav {
  flex-direction: row;
}
ul.nav-list {
  justify-content: center;
  margin-right: 0;
}
ul.nav-list a {
  padding: 1rem;
  font-size: 1.2rem;
}
h1 { 
  font-size: 3rem;
}
#projects h2 {
  font-size: 1.5rem;
}
img {
  width: 90%;
}
.project-tile {
  flex-direction: column;
}
}